body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.webp");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    overflow: hidden;
    
}

h1 {
    color: goldenrod;
    padding-top: 50px;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.imageFeatures {
    width: 100;
    margin: 10px;
    margin-top: 30px;
    animation: slideup 0.7s ease-in-out;

}



@keyframes slideup {

    0% {
        transform: translateY(500px)
    }

    100% {
        transform: translateY(0px);
    }
    
}

